<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <!---  Furka cz.1 zadanie 3 --->
        <p th:text='|Model: ${carModel.getId()} ${carModel.getName()}|'>LP</p>
        <p th:text='|Manufacturer: ${carManufacturer.getId()} ${carManufacturer.getName()}|'>LP</p>
        
    </body>
</html>
