<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pierwszy projekt springowy</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Przedstaw się ładnie:</h1>
        <form action="/hello" method="post">
            Imię: <input type="text" name="imie" />
            Wiek: <input type="number" name="wiek" />
            <input type="submit" value="Wyślij" />
        </form>
     
        <h1>Kalkulator Zadanie 1:</h1>
        <form action="/cal_zad1" method="post">
            <input type="number" name="x1" />
            <input type="number" name="y1" />
            <input type="submit" value="Dodaj" />
        </form>    
        
        <h1>Kalkulator Zadanie 2:</h1>
        <form action="/cal_zad2" method="post">
            <input type="number" name="x2" />
            <select name="opt2">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="number" name="y2" />
            <input type="submit" value="Wyślij" />
        </form>
        
        <h1>Kalkulator Zadanie 3:</h1>
        <form action="/cal_zad3" method="post">
            <input type="number" name="x" />
            <select name="opt">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select>
            <input type="number" name="y" />            
            <input type="submit" value="Wyślij" />
        </form>
    </body>
</html>
