<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring i Thymeleaf: lista pracowników</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
        
        <style>
            img.empPhoto {
                width: 300px;
            }
            .fired {
                color: firebrick;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" th:inline="text">
            <h1>Pan Prezes</h1>
            <p>
                <b>
                    <span th:text='|${boss.firstName} ${boss.lastName}|'>Imię</span>
                </b>
            </p>
            <img th:src="${boss.photoUrl}" class="empPhoto" 
                 src="http://via.placeholder.com/250x250"/>

            <h1>Pracownicy firmy</h1>

            <table class="table table-striped">
                <tr>
                    <th>Lp</th>
                    <th>Imię i nazwisko</th>
                    <th>Stanowisko</th>
                    <th>Pensja</th>
                    <th>Data zatrudnienia</th>
                    <th>Data zwolnienia</th>
                    <th>Umiejętności</th>
                    <th>Uwagi</th>
                    <th>Zdjęcie</th>
                </tr>
                <tr th:each="employee,iterStat : ${employees}" th:class="(${employee.dateOfTermination}) ? ('fired')">
                    <td><span th:text='${iterStat.count}'>LP</span></td>
                    <td><span th:text='|${employee.firstName} ${employee.lastName}|'>Imię</span></td>
                    <td><span th:text='${employee.jobTitle}'>Stanowisko</span></td>
                    <td><span th:text="${#numbers.formatDecimal(employee.salary,1,'WHITESPACE',2,'POINT')}">Pensja</span></td>
                    <td><span th:text="${#dates.format(employee.dateOfEmployment, 'dd.MM.yyyy')}">Data zatrudnienia</span></td>
                    <td><span th:text="(${employee.dateOfTermination}!=null) ? (${#dates.format(employee.dateOfTermination, 'dd.MM.yyyy')}) : ('Wciąż pracuje')">Stanowisko</span></td>
                    <td>
                        <p th:each="skill,iterStat : ${employee.skills}" th:text="(${iterStat.last}) ? |${skill.name} (${skill.level})| : |${skill.name} (${skill.level}),|"></p>
                    </td>
                    <td>
                        <p th:each="comment : ${employee.comments}" th:text="${comment}"></p>
                    </td>
                    <td><img th:src="${employee.photoUrl}" class="empPhoto"/></td>
                </tr>
            </table>
        </div>
    </body>
</html>